BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

BreakBeforeBraces: Attach
IndentCaseLabels: true

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: false
